body
{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;

}

.header
{
    border-bottom: 3px solid #32b9cd;

}
.header .container
{
    justify-content: space-between;
}

.container 
{
    display: flex;
    width: 80%;
    margin: auto;
}
.header .container
{
    justify-content: space-between;
}

.titulo
{
    color: #32b9cd;

}

.navbar
{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    color: #e3b062;
    align-items: center;
}
.banner
{
    padding: 40px 20px 30px 10px;
    color: #fff;
    background-image: url("imagens/bg-jelly-fish-para_outras_pags.png");
    height: 400px;
}

.banner .container
{
    justify-content: center;
    align-items: center;
    height: 100%;
}
.banner .container p 
{
    font-size: 36px;
    width: 25%;
}
.banner .container p span
{
    font-weight: bold;
}
.social
{
  background-color: #fff; 
  padding: 40px 0;
}
.card
{
    width: 150px;
    text-align: center;
  
}
.card img
{
    width: 100px;
}
.card h4
{
    font-size: 24px;
}
.social .container
{
    justify-content: space-between;
}

.footer 
{
    height: 100px;
    background-color: #32b9cd;
}

.footer .container
{
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer .container p
{
    font-weight: bold;
}

.login .container
{
    justify-content: center;
    background-image: url("imagens/bg-jelly-fish-para_outras_pags.png");
    background-size: cover; /* prencher o máximo de espaço */
    height: 75vh;
    align-items: center;
    justify-content: center;
}

.card2
{
    background-color: white;
    flex-direction: column;
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #32b9cd;
    text-align: center;
}

.card2-cadastro
{
    background-color: rgb(218, 211, 238);
    flex-direction: column;
    display: flex;
    height: 380px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
}

.card h2
{
   color: black;
}
.card2-cadastro h2
{
    color: palevioletred;
}

.campo
{
    flex-direction: column;
    display: flex;
    align-items: center;
    color: palevioletred;       
    align-items: first baseline;
    
}

.campo input 
{
    width: 150px;
    padding: 7px 15px;
    border: 2px solid #32b9cd;
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.formulario button
{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(179, 23, 75);
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 120px;
   
}

.formulario
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
}
.header a
{
    text-decoration: none;
    color: #e3b062;
    cursor: pointer;
}
.agora
{
    font-weight: 800; 
}
